<div class="top-bar">
  <h1>
    List Keeper <br />
    TO DO: <br />
    - get item data in app component and pass to list
  </h1>
</div>

<div class="list-submit-form">
    <app-list-form [fontSize]="'18px'" [placeholder]="'New list name (enter to submit)'" [warning]="warning" (onFormSubmit)="addList($event)"></app-list-form>
</div>

<div class="list-submit-form">
  <app-list-form [fontSize]="'18px'" [placeholder]="'Search for a list by name or items contained'" (onKeyUp)="search($event)"></app-list-form>
</div>

<div class="theres-nothing-here" *ngIf="lists.length === 0">
  Looks like there's nothing here.
</div>

<div class="theres-nothing-here" *ngIf="searchFilter !== ''">
  Lists with names containing search term:
</div>
<div class="bordered" *ngFor="let list of lists; let i = index">
    <app-list [titleSearchFilter]="searchFilter" [title]=list [pos]="i+1" (onRemove)="removeList($event)" (onMoveToTop)="moveToFront($event)" (onMoveToIndex)="moveToTarget($event)"></app-list>
    <!--<app-list [title]=list (onRemove)="removeList($event)" (onMoveToTop)="moveToFront($event)"></app-list>-->
</div>

<!--<div *ngIf="searchFilter !== ''">-->
  <!--<div class="theres-nothing-here">-->
    <!--Lists with items containing search term:-->
  <!--</div>-->
  <!--<div class="bordered" *ngFor="let list of lists; let i = index">-->
      <!--<app-list [itemSearchFilter]="searchFilter" [title]=list [pos]="i+1" (onRemove)="removeList($event)" (onMoveToTop)="moveToFront($event)" (onMoveToIndex)="moveToTarget($event)"></app-list>-->
  <!--</div>-->
<!--</div>-->


